*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    background-image: url('src/new_background_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.wrapper{
    width: 1200px;
    min-height: 100vh;
    margin: 0 auto;

    display:flex;

}

#left-section{
    height: 120vh;
    width: 45%;
    display: flex;
    flex-direction: column;
    
}

.left-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

h4{
    width: 100%;
    height: 60px;
    background-color: white;
    color: rgb(52, 52, 52);
    display: flex;
    justify-content: center;  
    align-items: center; 
    font-size: 25px;
}

.buttons-container{
    width: 100%;
    height: 35px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-container button{
    width: 90px;
    height: 35px;
    border: none;
    background-color:#25975a;
    color:white;
    font-weight: bold;
}

.buttons-container button:hover{
    background-color:white;
    color:black;
}

.grupe_button{
    background-color: white !important;
    color:black !important;
}

.switch-container{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: end;
    gap: 10px;
    color: white;
}

.switch-container p{
    font-weight: 600;
}

.switch{
    background-color: #cccccc;
    width: 50px;
    height: 30px;
    
    align-content: center;
}

.switcher{
    width: 25px;
    height: 25px;
    background-color: white;
    margin: 0 4px;
}

#search-input{
    width: 100%;
    height: 35px;
    padding: 0 10px;
}



.groups{
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 0 10px;
    overflow-x: hidden;
}

.groups li{
    list-style: none;
}

.groups li:hover{
    background-color: #cae88b;
}

#day-selector{
    width: 100%;
    height: 35px;
    padding: 0 10px;
}

#week-selector{
    width: 100%;
    height: 35px;
    padding: 0 10px;
}

.table-grid-container{
    width: 100%;
    min-height: 170px;
    display: grid;
    grid-template-columns: 2.3fr repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: stretch;
    color:white;
}

.cells{
    border: 1px solid #25975a;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    height: 24px;
}

.special_cell{
    background-color: #25975a;
    border: 1px solid white;
}

.about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    color:white;
    justify-content: center;
    gap:1em;
}

.download-container{
    width: 100%;
    display: flex;
    gap:1em;
}

.download-container a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px 5px;
    border-radius: 3px;
}

.descarca{
    background-color:#25975a;
}

.examene{
    background-color: #f0506e;
}

.planificare{
    background-color: #7b4669;
}

.atention{
    width: 100%;
    background-color: white;
    color: #25975a;
    font-size: 16px;
    padding: 15px 15px;
}

#right-section{
    width: 50%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-section img{
    width: 130px;
    height: 100px;
    margin-top: 20px;
}

#right-section h3{
    margin-top: 10px;
    color:white;
}

.grid-orar-container{
    width: 100%;
    background-color: #25975a;
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr 4fr;

}

.cell{
    min-height: 60px;
    background: white;
    border: 1px solid gray;
    color:grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.time-cell{
    background: #25975a;
    border: 1px solid white;
    color:white;
}

.subject, .auditorium{
    font-weight: bold;
}